button {
  min-height: 2em;
  border-radius: 4px;
  margin: 0px 4px;
  box-shadow: var(--shadow);
  cursor: pointer;

  color: var(--text);
  background: var(--code-bg);
  border: 1px solid var(--border);
}
button.active {
  font-weight: bold;

  color: var(--accent);
  background: var(--accent-bg);
  border: 1px solid var(--accent-border);
}

input {
  margin: 0px auto;
}

article {
  padding-bottom: 20px;
  border-radius: 4px;
  margin: 8px 32px;

  border: 2px solid var(--border);
}
article.active {
  box-shadow: var(--shadow);

  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid var(--accent-border);
}
